@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #E60000;
  --color-secondary: #0F0F0F;
  --color-accent: #ffffff;
  --color-base-100: #000000;
  --color-base-200: #161616;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
}

.bebas {
  font-family: "Bebas Neue", sans-serif;
}
/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-primary) transparent;
}
/* Chrome, Edge, Brave */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 10px;
}

/* Chrome, Edge, Brave */
::selection {
  background: #ff1111b8;
  color: white;
}
/* Firefox */
::-moz-selection {
  background: #ff1111b8;
  color: white;
}