@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #E60000;
  --color-secondary: #0F0F0F;
  --color-accent: #ffffff;
  --color-base-100: #000000;
}

body {
  font-family: "Bebas Neue", sans-serif;
}